@using AquascapeThemeKillerApp.Logic_Interfaces
@model AquascapeThemeKillerApp.Logic_Interfaces.AquascapeModel

@{
    ViewData["Title"] = "AquascapeDetails";
}

<h2>AquascapeDetails</h2>

<div>
    <h4>AquascapeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AquascapeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AquascapeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.Label("PlantId")
        </th>
        <th>
            @Html.Label("PlantName")
        </th>
        <th>
            @Html.Label("Difficulty")
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (IPlant item in Model.PlantsInAquarium)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    </tbody>
</table>

<a href="@Url.Action("AddPlant","Aquascape", new { id = Model.AquascapeId })">
    <input type="button" name="operation" value="Add Plants" />
</a>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.Label("FishId")
        </th>
        <th>
            @Html.Label("FishName")
        </th>
        <th>
            @Html.Label("FishType")
        </th>
        <th>
            @Html.Label("FishSize")
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (IFish item in Model.FishInAquarium)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FishId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FishType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FishSize)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    </tbody>
</table>

<a href="@Url.Action("AddFish","Aquascape", new { id = Model.AquascapeId })">
    <input type="button" name="operation" value="Add Fishes" />
</a>

<div>
    @Html.ActionLink("Edit", "CreateAquascape", new { id = Model.AquascapeId }) |
    <a asp-action="Index">Back to List</a>
</div>
