@model AquascapeThemeKillerApp.Models.AquascapeItemSelectionViewModel

@{
    ViewData["Title"] = "AquascapeDetails";
}

@using (Html.BeginForm("Create", "Aquascape", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AquascapeName)
            </dt>
            <dd>
                @Html.EditorFor(model => model.AquascapeName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Difficulty)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Difficulty)
            </dd>
        </dl>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.Label("PlantName")
                </th>
                <th>
                    @Html.Label("Difficulty")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (SelectPlantEditorViewModel item in Model.Plants)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlantName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Difficulty)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@Url.Action("AddPlant","Aquascape", new { id = Model.AquascapeId })">
        <input type="button" name="operation" value="Add Plants" />
    </a>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.Label("FishName")
                </th>
                <th>
                    @Html.Label("FishType")
                </th>
                <th>
                    @Html.Label("FishSize")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (SelectFishEditorViewModel item in Model.Fishes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FishName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FishType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FishSize)
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <a href="@Url.Action("AddFish","Aquascape", new { id = Model.AquascapeId })">
        <input type="button" name="operation" value="Add Fishes" />
    </a>

    <div style="text-align: center">
        <input id="button" type="submit" value="Save" class="btn btn-default"/>
    </div>
    
}
