@using AquascapeThemeKillerApp.Logic_Interfaces
@model IEnumerable<AquascapeThemeKillerApp.Logic_Interfaces.PlantModel>

@{
    ViewData["Title"] = "GetAllPlants";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (PlantModel item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
