@model IEnumerable<AquascapeThemeKillerApp.Logic_Interfaces.AquascapeModel>

@{
    ViewData["Title"] = "GetAllAquascapes";
}

<h2>GetAllAquascapes</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AquascapeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AquascapeId)
                <a href="@Url.Action("AquascapeDetails","Home", new { id = item.AquascapeId })">
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @*<a href="@Url.Action("AquascapeDetails","Home", new { id = item.aquascapeId })">
                </a>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("AquascapeDetails", "AquascapeDetails", new { id=item.AquascapeId }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
